<!doctype html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/grid.css">
</head>

<body>

	<header>

		<nav class="grid-row nav-section1">
			<div class="logo-title">
				<a class="button-nav1" href="template.html">Logo</a>
			</div>

			<div class="logo-title">
				<h1>HockeyHub</h1>
			</div>

			<div class="cart-login">
				<a class="button-nav1" href="cart.html">Cart<br /><img src="img/shopping-cart-48.png" alt="cart"></a>
			</div>

			<div class="cart-login">
				<a class="button-nav1" href="login.html">Login<br /><img src="img/64px-login-icon.png" alt="cart"></a>
			</div>
			
			
		</nav>

		<nav class="grid-row nav-section2">
			<div class="grid-col-5">
				<a class="button-nav2" href="about.html">About</a>
			</div>
			<div class="grid-col-5">
				<a class="button-nav2" href="products.html">Products</a>
			</div>
			<div class="grid-col-5">
				<a class="button-nav2" href="location.html">Location</a>
			</div>
			<div class="grid-col-5">
				<a class="button-nav2" href="support.html">Support</a>
			</div>
			<div class="grid-col-5">
				<a class="button-nav2" href="why_us.html">Why Us</a>
			</div>
		</nav>
	<header>

	<div class="grid-row">
		<div class="content">
			<article>


			</article>

		</div>

	</div>


</body>

</html>
